<section class="relative h-screen bg-gradient-to-r from-violet-50 to-orange-50">
    <!-- BG Image -->
    <!-- <img src="https://plus.unsplash.com/premium_photo-1683121696175-d05600fefb85?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="absolute -z-10 inline-block h-full w-full object-cover opacity-75" /> -->
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
      <!-- Component -->
      <div class="grid grid-cols-1 items-center gap-8 sm:gap-20 lg:grid-cols-2">
        <!-- Heading Content -->
        <div class="max-w-[720px]">
          <h1 class="mb-3 pb-4 text-4xl font-bold text-sky-700 md:text-6xl">Rick and Morty</h1>
          <p class="mb-6 max-w-[528px] text-xl md:mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit ut aliquam, purus sit amet luctus venenatis, lectus</p>
          <div class="flex items-center">
            <a href="#"
              class="] mr-5 inline-block rounded-full bg-[#c9fd02] px-6 py-4 text-center font-bold text-black transition hover:border-black hover:bg-white md:mr-6 lg:mr-8">Let's
              Talk</a>
            <a href="#"
              class="flex max-w-full flex-row rounded-full border border-solid border-[#636262] px-6 py-4 font-bold">
              <p class="">View</p>
            </a>
          </div>
        </div>
        <!-- Image Div -->
        <div>
          <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="" class="mx-auto inline-block h-full w-full max-w-[640px] rounded-2xl object-cover" />
        </div>
      </div>
    </div>
  </section>
